@font-face {
    font-family: 'filosofo';
    src: url(fuentes/Philosopher-Bold.ttf);
}
body{
    background-image: url(img/escudo3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: filosofo;
}
#escudo{
    height: 70px;
    float: left;  
    
}
#inicio{
    text-align: center;
    color: rgb(19, 70, 240);
    
}
header{
    background-color: yellow;
    height: 100px;
}
.insta{
    height: 40px;
    float: right;
}

.twitter{
    height: 45px;
    float: right;
}

.face{
    height: 45px;
    float: right;
}

nav{
    background-color: white;
    height: 40px;
}

ul{
    list-style: none;

}

li{
    display: inline;
    float: left;
}

a{
    text-decoration: none;
    color: rgb(19, 70, 240);

}

li a{

    padding: 8px;
    display: block;
    margin-top: 2px;

}

a:hover{

    background-color: rgb(19, 70, 240);
    color: white;    
    
}

.submenu{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.submenu a {
    color: rgb(19, 70, 240);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.submenu a:hover {
    background-color: rgb(19, 70, 240);
    color: white;
    
}
.Plantilla:hover .submenu {
    display: block;
    
  }

main{
    margin-top: 5px;
    width: 30%;
    float: left;
    background-color: yellow;
}
.noticias{

    text-align: center;
    color:rgb(19, 70, 240);
}
.partido{

    float: left;
    width: 100%;
    height: 100%;
}

.partido_texto:hover{

    color: black;
    float: center;
    background-color: rgb(19, 70, 240);
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    transition: 2s;
}
figure{
    margin: 5px;
}
.historia_texto:hover{

    background-color: white;
    color: rgb(19, 70, 240);
       
}
.escudo_texto:hover{

    background-color: white;
    color: rgb(19, 70, 240);
       
}
section{

    width: 68%;
    float: right    ;
    background-color: yellow;
    margin-top: 5px;
    text-align: center;
}
.hhistoria{

    color: rgb(19, 70, 240);
}
.historia2{

    color: black;
    text-align: left;
    padding-left: 10px;
    
}
.historiafoto1{

    float: left;
    width: 80%;
    height: 80%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.historia_texto{

    padding: 5px;
    margin-bottom: 5px;
    float: left;
    background-color: rgb(19, 70, 240);
    width: 79%;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.historia3{
    text-align: left;
    padding-left: 10px;
    float: left;

}
.historiafoto2{

    float: left;
    width: 80%;
    height: 80%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.escudo_antiguo{
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    width: 48%;
    margin-left: 2px;
    
}
.escudofoto1{

    width: 50%;
    height: 50%;
    
}
.escudo_texto{

    background-color: rgb(19, 70, 240);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.escudo_actual{
    margin-top: 5px;
    float: right;
    width: 48%;
    margin-right: 2px;
    
}
.escudofoto2{
    width: 48.5%;
    height: 50%;
}
.clear{

    clear: both;
}
footer{

    margin-top: 10px;
   
}
.final3{

    width: 100%;
    background-color: blue;

}
.final4{

    margin-left: 5%;
    margin-top: 10px;
    width: 20%;
    float: left;
    background-color:rgb(19, 70, 240);
    border: 5px solid yellow;
    border-radius: 20px;
    margin-left: 7%;

}
.final4 .enlace_final{

    color: black;
}
.final5{

    margin-top: 10px;
    width: 20%;
    float: left;
    background-color:rgb(19, 70, 240);
    border: 5px solid yellow;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;

}
.final5 .enlace_final{

    color: black;
}
.final6{
   
    margin-top: 10px;
    width: 20%;
    float: left;
    background-color:rgb(19, 70, 240);
    border: 5px solid yellow;
    border-radius: 20px;
}
.final6 .enlace_final{

    color: black;
}
.final7{
   
    margin-top: 10px;
    width: 20%;
    float: left;
    background-color:rgb(19, 70, 240);
    border: 5px solid yellow;
    border-radius: 20px;
    margin-left: 10px;   

}
.final7 .enlace_final{

    color: black;
}
.container{
    position: relative;
    width: 100%;
    margin-bottom: 5px;
} 
.image{
   
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
    
  }
  
  .overlay {
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 95%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgb(19, 70, 240);
    margin-left: 2.5%;
  }
  
.container:hover .overlay {
    opacity: 1;
  }
  
.text {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 47%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.staff{

    margin-left: 20%;
    width: 60%;
    color: rgb(19, 70, 240);
    background-color: yellow;
    border: 5px solid blue;
    border-radius: 20px;
}
.staff2{

    text-align: center;

}

.cuerpo_tecnico:hover{
    color: red;
}
.fotostaff{

    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.jugadores_equipo:hover{
    color: red;
}
.fotojugadores{

    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.entrenadores{
    margin-left: 10%;
    width: 80%;
    color: rgb(19, 70, 240);
    background-color: yellow;
    border: 5px solid blue;
    border-radius: 20px;
    margin-bottom: 2%;

}
.staff3{

    float: left;
    width: 20%;
    margin-left: 4%;
    margin-bottom: 2%;
    overflow: hidden;
       
}
.entrenador1{
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     border: 3px solid blue;
     width: 80%;
    
}
main div figure .entrenador2{
    
    text-align: center;
    width: 80%;
  
}
.entrenador3{
    
    text-align: center;
    font-size: 25px;
    width: 80%;

}
.primerequipo{

    float: left;
    width: 25%;
    margin-left: 7%;
    margin-bottom: 2%;
    overflow: hidden;
       
}
.primerequipo_texto{

    text-align: left;
    margin-left: 2%;
}
.entradas_promo:hover{
    color: red;
    background-color: yellow;
}
.entradas_socios_tabla{

    border: 5px solid blue;
    margin-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    border-radius: 20px;
    font-size: 20px;
    background-color: yellow;
    width: 90%;
    
}
.borde{

    padding: 15px;
}
.info_entradas{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 5%;
    width: 90%;
    color: rgb(19, 70, 240);
    border: 5px solid blue;
    border-radius: 20px; 
    background-image: url(img/info.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.texto_socio{

    color: blue;
    background-color: yellow;
    width: 65%;
    margin-left: 18%;
}
.info_entradas2{

    text-align: center;
    padding: 5%;

}
.texto_socio2{

    color: blue;
    background-color: yellow;
    width: 70%;
    margin-left: 15%;
}
.form_abono{

    font-size: 25px; 
    width: 80%;
    margin-left: 10%;
    float: left;    
    
}
.form_abono2{

    border-radius: 20px; 
    border: 3px solid black;
    margin-left: 2%;
}
.form_abono3{

    border-radius: 20px; 
    border: 3px solid black;
    margin-left: 2px;
}
.form_abono4{

    border-radius: 20px; 
    border: 3px solid black;
    margin-left: 2%;
}
.form_abono5{

    border-radius: 20px; 
    border: 3px solid black;
    margin-left: 2%;
    padding: 2px;
    text-align: center;
}
.form_abono6{

    border-radius: 20px; 
    border: 3px solid black;    
    text-align: center;
}
.dni{

   margin-left: -15%;
}
.zona{

    margin-left: -43%;
}
.correo{

    margin-left: -38%;

}

.enviar{

    border-radius: 20px; 
    border: 3px solid black;
    color: white;
    font-size: 15px;
    padding: 8px;
    background-color: rgb(19, 70, 240);
    margin-bottom: 5%;
    margin-left: -2%;
}
.borrar{
    border-radius: 20px; 
    border: 3px solid black;
    color: white;
    font-size: 15px;
    padding: 8px;
    background-color: rgb(19, 70, 240);
    margin-right: -2%;
}
.enviar:hover{

    background-color: white;
    color: rgb(19, 70, 240);
}
.borrar:hover{

    background-color: white;
    color: rgb(19, 70, 240);
}
.video_abono{

    width: 100%;
    height: 100%;
    border-radius: 20px; 
}
.form_abono5:hover{

    background-color: rgb(19, 70, 240);
    color: white;

}
.form_abono4:hover{

    background-color: rgb(19, 70, 240);
    color: white;

}
.form_abono3:hover{

    background-color: rgb(19, 70, 240);
    color: white;

}
.form_abono2:hover{

    background-color: rgb(19, 70, 240);
    color: white;

}
.primerequipo:hover{

    -webkit-transform:scale(1.2);transform:scale(1.2);
}
.staff3:hover{

    -webkit-transform:scale(1.2);transform:scale(1.2);
}
.insta:hover{

    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.twitter:hover{

    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.face:hover{

    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}